@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary-color: #2288ff;
  --second-color: #192f6a;
  --text-color: #314863;
  --back-color: #fff;
  --hover-color: #3492fd;
}
img {
  width: 100%;
}
body {
  color: var(--text-color);
}

header {
  display: block;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: var(--back-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

section {
  padding: 4.5rem 0 3rem;
}

.container {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}

/* Naviagtion bar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
}
.logo .bx {
  font-size: 24px;
  color: var(--primary-color);
}
.navbar {
  display: flex;
}
.navbar a {
  padding: 8px 17px;
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar a:hover {
  color: var(--primary-color);
}
#menu {
  display: none;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.btn {
  padding: 8px 22px;
  background: var(--primary-color);
  color: var(--back-color);
  border-radius: 5rem;
}
.btn:hover {
  background: var(--hover-color);
}

/* Home section */
.home {
  margin-top: 6rem;
  background: url(../images/home3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 440px;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
}
.home-text{
    padding-left: 35px;
}
.home-text h1{
    color: var(--back-color);
    /* color: rgba(255, 255, 255, 0.788); */
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 2rem;
}

.about-img img{
    border-radius: 3rem 0 3rem 3rem;
}

.about-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--primary-color);
}

.about-text h2{
    font-size: 1.7rem;
}

.about-text p{
    font-size: 0.93rem;
    margin: 1rem 0 1rem;
}


